/*************welcom************/

button{
    color: #ffffff;
    background-color: cornflowerblue;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: cursive;
  }
  
  .welcomeContainer{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    font-family: cursive;
  }
  
  hr{
    margin-top: 20px;
    width:80%;
  }
  
  .or{
   background: #fff;
   width: 30px;
   margin: -19px auto 10px; 
   font-size: 15px;
  }
  
  
  
  